.user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user > p {
  margin: 5px;
  padding: 5px;
}
.user > img {
  object-fit: contain;
  border-radius: 50%;
  margin-right: 15px;
}

.first-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  border: 1px solid white;
  padding: 9px;
  border-radius: 12px;
}
.size {
  display: flex;
  border-bottom: 1px solid white;
  padding: 30px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal_button {
  height: 40px;
  width: 80px;
  background-color: rgba(240, 196, 1, 0.966);
  color: black;
  font-weight: bolder;
  margin: 15px;
  transition-duration: 0.4s;
  border-radius: 7px;
}

.modal_button:hover {
  background-color: #4d0f94;
  color: white;
}

.modal_button_delete {
  height: 40px;
  width: 80px;
  background-color: rgba(202, 9, 9, 0.911);
  color: white;
  font-weight: bolder;
  transition-duration: 0.4s;
  border-radius: 7px;
}

.modal_button_delete:hover {
  background-color: #f30c0c;
  color: white;
}

.user_avatar > img {
  border-radius: 50%;
  margin-right: 5px;
}

.user_lastname {
  width: 100px;
  padding: 25px;
}
.user_email {
  width: 250px;
  padding: 25px;
}
.user_firstname {
  width: 100px;
  padding: 25px;
  font-weight: bolder;
  font-size: larger;
}

.user_düzenle {
  width: 120px;
  padding: 25px;
}

.user_sil {
  width: 120px;
  padding: 25px;
}
